<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RelaxnListen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RelaxnListenLiteEd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD3E42341A5A3D2A00CD3400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD543A2B186D594A00C4780B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD543A4F186D594A00C4780B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
